@CHARSET "ISO-8859-1";
<!DOCTYPE html>
<html>
    width: 100%;
    height: 100%;
<head>
<style>


body {
	width: 100%;
    height: 100%;
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    background-color: #000;
}
#map {
    width: 100%;
    height: 500px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}
h1 {

    color: red;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
#header {

  width: 100%;

}

#leftcol {

  float: left;
  width: 15%;
  height: 700px;
}

#rightcol {

  float: right;
  width: 15%;
  height: 700px;
}

#content {

 background: #FFF;
  float: left;
  width: 70%;
  height: 700px;
}

#footer {

  clear: both;
  width: 100%;
}

label,*
{
    color: #222;
    font-weight: bold;
    font-family: Verdana,Arial,sans-serif;
     font-size: 15px;
    vertical-align: middle;
}

textarea, input[type=text], input[type=password] 
{
   border: 2px solid #000;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;
    padding: 3px;mysql-5.1.73-winx64
    width: 200px;
    
    height: 20px
}

#header .logo img 
{
   float: left;
}
#header #login {
    float: right;

}
#header #login input[type=text], #header #login input[type=password] {
    border-color: #1D2A5B;
    margin: 0;
    padding-bottom: 4px;
    width: 142px;
}
.wrap {

        position:relative;
        margin:0 auto;
               /*replace 900px with your width*/
        width:70%;
    }
</style>
</head>
<body>
p {
    text-align: center;
    color: red;
}
</body>
</html>